.box1{
    background-color: #3f51b5 !important;
     height: 75px;
}
.box2{
    background-color: #3f51b5 !important;
     height: 50px;
}
.redes{
    font-size: 40px !important;
    color: white;
}

.textos{
    color: white;
}