.box1{
    background-color: #5c007a;
     height: 120px;
}
.box2{
    background-color: #5c007a;
     height: 60px;
}
.redes{
    font-size: 60px !important;
    color: white;
}

.textos{
    color: white;
}