.caixa{
    background-color: rgb(27, 215, 221);
}

.titulo{
    color: white !important;
    font-weight: "bold" !important;
}

.botao{
     border-color: black !important;
      background-color: black;
      color: black !important;
}

.postagens{
    background-color: rgb(8, 7, 7);
}